<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Youtube - TwigSite</title>
   <link rel="stylesheet" href="../../static/style/index.css">
</head>

<body>
   <div class="center">
      <h1>My Channel Youtube: Happy Games (soon to be Twig)</h1>
      <div class="section_box">
         <h2></h2>
         <p></p>
         <iframe type="text/html" frameborder="0" width="1920" height="1080"
            src="https://www.youtube.com/embed/IUQpVeykWmg?rel=0&vq=hd1080" allowfullscreen></iframe>
      </div>
   </div>
</body>

</html>