:root {
   --bg-color-100: hsl(22, 65%, 100%);
   --bg-color-90: hsl(22, 65%, 90%);
   --bg-color-80: hsl(22, 65%, 80%);
   --bg-color-70: hsl(22, 65%, 70%);
   --bg-color-60: hsl(22, 65%, 60%);
   --bg-color-50: hsl(22, 65%, 50%);
   --bg-color-40: hsl(22, 65%, 40%);
   --bg-color-30: hsl(22, 65%, 30%);
   --bg-color-20: hsl(22, 65%, 20%);
   --bg-color-10: hsl(22, 65%, 10%);
   --bg-color-0: hsl(22, 65%, 0%);


   --secondary-color-base: hsl(110, 80%, 55%);

   --secondary-color-100: hsl(110, 80%, 100%);
   --secondary-color-90: hsl(110, 80%, 90%);
   --secondary-color-80: hsl(110, 80%, 80%);
   --secondary-color-70: hsl(110, 80%, 70%);
   --secondary-color-60: hsl(110, 80%, 60%);
   --secondary-color-50: hsl(110, 80%, 50%);
   --secondary-color-40: hsl(110, 80%, 40%);
   --secondary-color-30: hsl(110, 80%, 30%);
   --secondary-color-20: hsl(110, 80%, 20%);
   --secondary-color-10: hsl(110, 80%, 10%);
   --secondary-color-0: hsl(110, 80%, 0%);


   --box-color-base: hsl(195, 61%, 55%);

   --box-color-100: hsl(195, 61%, 100%);
   --box-color-90: hsl(195, 61%, 90%);
   --box-color-80: hsl(195, 61%, 80%);
   --box-color-70: hsl(195, 61%, 70%);
   --box-color-60: hsl(195, 61%, 60%);
   --box-color-50: hsl(195, 61%, 50%);
   --box-color-40: hsl(195, 61%, 40%);
   --box-color-30: hsl(195, 61%, 30%);
   --box-color-20: hsl(195, 61%, 20%);
   --box-color-10: hsl(195, 61%, 10%);
   --box-color-0: hsl(195, 61%, 0%);

}

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   background-color: hsl(0, 0%, 100%);
   background-image: linear-gradient(var(--secondary-color-60), var(--secondary-color-20));
}

em {
   font-weight: bold;
}

.center {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   padding: 2em;
   margin: 0px 15em;
}

.headerbuttons {
   border-spacing: 1px;
   width: fit-content;
}

@keyframes fade_up1 {
   0% {
      opacity: 0;
      transform: translateY(100px);
   }

   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}

.fade_up1 {
   animation-duration: 2s;
   animation-name: fade_up1;
   animation-fill-mode: forwards;
   opacity: 0;
}

@keyframes fade_up2 {
   0% {
      opacity: 0;
      transform: translateY(100px);
   }

   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}

.fade_up2 {
   animation-duration: 2s;
   animation-name: fade_up2;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   opacity: 0;
}

@keyframes fade_up3 {
   0% {
      opacity: 0;
      transform: translateY(100px);
   }

   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}

.fade_up3 {
   animation-duration: 2s;
   animation-name: fade_up3;
   animation-delay: 2s;
   animation-fill-mode: forwards;
   opacity: 0;
}

table.info_table tr td div {
   border: 2px solid var(--box-color-90);
   border-radius: 7px;
   text-align: center;
   background-color: var(--box-color-80);
   width: 20vw;
}

table.info_table tr td div a {
   font-family: "Noto Sans Mono", monospace;
   font-size: 25px;
   font-weight: 900;
   font-style: italic;
   text-decoration: none;
}

table.info_table {
   border-spacing: 5em;
}

header#home_text {
   font-family: "Noto Sans Mono", monospace;
   font-size: 64px;
   font-weight: 900;
   font-style: italic;
   text-decoration: none;
}

#BETA {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   flex-flow: nowrap;
   justify-content: center;
   background-color: orange;
   border: 3px solid black;
   margin-bottom: 10px;
   margin-top: 10px;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bolder;
}

header#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 0.6rem;
   margin: -8px -8px 0 -8px;

   background-color: var(--bg-color-50);

   border-bottom: 4px solid black;
}

#headericon {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: nowrap;
   margin: 0px 0px 0px 10px;
}

#headerbuttens {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: nowrap;
   gap: 8px;
   margin: 0px 10px 0px 0px;
}