<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Ferblatin Translator</title>
</head>

<body>
   <h1>Ferblatin Translator</h1>
   <p>Translate any word or sentence into ferblatin!!! (Do not put any punctuation. Add that in later)</p>
   <form action="/ferblatin/translated" method="post">
      <input type="text" name="input" id="inputbox" width='60'>
      <input type="SUBMIT" value="Translate!">
   </form>
   <a href="{{ url_for('index') }}">Go home</a>
</body>

</html>