<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Home - TwigSite</title>
   <link rel="stylesheet" href="../../static/style/index.css">
</head>

<body>
   <header id="header">
      <div id="headericon">
         <a href="{{ url_for('home') }}">
            <img src="../static/images/logo.svg" alt="" width="90" height="90">
         </a>
      </div>
      <div id="headerbuttens">

         <a href="{{ url_for('projects') }}">
            <table class="headerbuttons">
               <tr>
                  <td><img src="../static/images/inventory_2_FILL0_wght400_GRAD0_opsz24.svg" alt="Projects" width="91"
                        height="40"></td>
                  <td>Projects</td>
               </tr>
            </table>
         </a>
         <a href="{{ url_for('youtube') }}">
            <table class="headerbuttens">
               <tr>
                  <td><img src="../static/images/videocam_FILL0_wght400_GRAD0_opsz24.svg" alt="Youtube" width="91"
                        height="40"></td>
                  <td>Youtube</td>
               </tr>
            </table>
         </a>
         <a href="">
            <table>
               <tr>
                  <td><img src="../static/images/button1.svg" alt="" width="91" height="40"></td>
                  <td></td>
               </tr>
            </table>

         </a>

      </div>
   </header>
   <div id="BETA">
      <p>This website is currently in Beta and things are subject to change!</p>
   </div>
</body>

</html>