<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Home - TwigSite</title>
   <link rel="stylesheet" href="../../static/style/index.css">
</head>

<body>
   <header id="header">
      <div id="headericon">
         <a href="{{ url_for('home') }}">
            <img src="../static/images/logo.svg" alt="" width="90" height="90">
         </a>
      </div>
      <div id="headerbuttens">

         <a href="{{ url_for('projects') }}">
            <img src="../static/images/inventory_2_FILL0_wght400_GRAD0_opsz24.svg" alt="Projects" width="91"
               height="40">
            <p>Projects</p>
         </a>
         <a href="">
            <img src="../static/images/videocam_FILL0_wght400_GRAD0_opsz24.svg" alt="Youtube" width="91" height="40">
            <p>Youtube</p>
         </a>
         <a href=""><img src="../static/images/button1.svg" alt="" width="91" height="40"></a>

      </div>
   </header>
   <div id="BETA">
      <p>This website is currently in Beta and things are subject to change!</p>
   </div>
</body>

</html>