<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Home - TwigSite</title>
   <link rel="stylesheet" href="../static/style/index.css">
</head>

<body>
   {% include "header.html" %}
   <div class="center">
      <img src="../static/images/logo.svg" alt="logo" width="135">
      <header id="home_text">The Center of TwigYT</header>
   </div>
   <div class="center">
      <table class="info_table">
         <tr>
            <td>
               <div class="fade_up1">
                  <h2><a href=" {{ url_for('projects') }}">Projects</a></h2>
               </div>
            </td>
            <td>
               <div class="fade_up2">
                  <h2>test</h2>
               </div>
            </td>
            <td>
               <div class="fade_up3">
                  <h2>test</h2>
               </div>
            </td>
         </tr>
      </table>
   </div>
</body>

</html>